* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.text-container {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Quicksand', sans-serif;
  line-height: 100vh;
  text-align: center;
  font-size: 100px;
  text-shadow: black 4px 2px 2px;
}

#new-meme {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#new-meme input {
  width: 700px;
  height: 50px;
  border: none;
  background: white;
  color: #ed6a1e;
  padding: 0 15px;
}

#new-meme button {
  width: 100px;
  height: 50px;
  border: none;
  background: #ed6a1e;
  color: white;
  margin: 20px;
}
